.register {
  height: 100vh;
  background-color: rgba(0, 162, 255, 0.576);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(rgba(11, 66, 96, 0.5), rgba(11, 66, 96, 0.5)),
        url('https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600')
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(51, 133, 153);
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgb(51, 133, 153);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
